@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "cards";
@import "badge";
@import "tables";

$small-screen: new-breakpoint(max-width em(500) 4);
$medium-screen: new-breakpoint(max-width em(650) 12);

body {
	@include hidpi() {
		font-size: 3em;
		img {
			width: 9em;
		}
	}
}

h1 {
	font-size: 3em;
	text-align: center;
}

.container {
	@include outer-container;

	.pokemon-grid {
		@include span-columns(8);

		@include media($medium-screen) {
			@include span-columns(6);
		}

		@include media($small-screen) {
			@include span-columns(4);
		}

		@include hidpi {
			@include span-columns(12);
		}

		.load-button {
			text-align: center;
			button.load-more {
				width: 90%;
				margin: 1.5em 0;
			}
		}
	}

	.pokemon-detailed {
		@include span-columns(4);

		@include media($medium-screen) {
			@include span-columns(6);
		}

		@include media($small-screen) {
			@include span-columns(4);
		}

		@include hidpi {
			@include span-columns(12);
		}
	}
}


